<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/players">Players</a></li>
            <li><a href="/teams">Teams</a></li>
        </ul>
    </nav>
</header>